<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
   
</head>
<body>
    {{>navbar}}

    <!---main header-->
    <div class="container-fluid main_header">
        <div class="row"> 
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-12 col-12 main_header_right align-items-center">
                        <figure class="errimg">
                            <img src="images/404error.webp" alt="Pankaj" class="img-fluid" title="Pankaj Gandhi">
                        </figure>
                        <p ">Welcome to My world</p>
                        <h1 style="color: #0097e6"> {{errorMsg}} </h1> 
                           <a href="/">
                            <button>Go Back</button></a>
                          </div>
 
a>

                    </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!--footer code-->
     {{>footer}}
   
</html>