<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
   
</head>
<body>
    {{>navbar}}

    <!---main header-->
    <div class="container-fluid main_header">
        <div class="row"> 
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <figure>
                            <img src="images/figure.jpg" alt="Pankaj" class="img-fluid" title="Pankaj Gandhi">
                        </figure>
        


                    </div>
                    <!--right side div-->
                    <div class="col-md-6 col-12 main_header_right">
                        <p>Welcome to My world</p> 
                        <h1 style="word-spacing: 2px;">I Am A <span class="text color" style="color: #0097e6 ;">Web Developer</span> And A <span class="text color" style="color: #0097e6 ;">Student</span> Of Aklank College</h1> 
                           <a href="https://www.instagram.com/__mr.____.punjabi__/">
                            <button>About Me</button></a>

                    </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!--footer code-->
     {{>footer}}
   
</html>